/*Globl Inherited Styles*/
h1, h2{
    font-family: arial;
}



/*Generic Slide Out Popout*/

.SOP{
    margin: 2px;
    margin-bottom: 10px;
    display: block;
    width: 30%;
    background-color: skyblue;
    min-width: 230px;
    max-width: 300px;
    
    border-radius: 10px;
    position: relative;
    
    /*Location*/
    top: 50px;
/*
    left: -300px;
*/
}

.SOP h2{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.SOP p:first-of-type{
    padding-left: 15px;
    float: left;
    width: 60%;
}

.SOP p:last-of-type{
    float: left;
    padding: 0px 5px;
    width: 40%;
}







/*General styles*/
img{
    width: 100%;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/*Header*/
div#header{
    background-color: grey;
    padding: 2px;
}
div#header section{
    display: block;
    float: left;
    background-color: lightgray;
    padding: 10px 20px;
}
section#team{
    border-right: solid 2px black;
    width: 23%
}
section#period{
    width: 52%;
}
section#timer{
    border-left: solid 2px black;
    width: 25%;
    text-align: center;
}
section#team h1, section#period h2{
    padding-left: 11%;
}