/*Globl Inherited Styles*/
h1, h2{
    font-family: arial;
}

.inlineDiv{
    display: inline;
}

/*Generic Slide Out Popout*/

.SOP{
    margin: 2px;
    margin-bottom: 10px;
    display: block;
    width: 30%;
    background-color: skyblue;
    min-width: 230px;
    max-width: 300px;
    
    border-radius: 10px;
    position: relative;
    
    /*Location*/
    top: 50px;
/*
    left: -300px;
*/
}

.SOP h2{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.SOP p:first-of-type{
    padding-left: 15px;
    float: left;
    width: 60%;
}

.SOP p:last-of-type{
    float: left;
    padding: 0px 5px;
    width: 40%;
}







/*General styles*/
img{
    width: 100%;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/*Header*/
div#header{
    background-color: grey;
    padding: 2px;
    display: flex;
    flex-flow: row nowrap;
}


div#header section{
    display: block;
    float: left;
    background-color: lightgray;
    padding: 10px 20px;
    border: 2px solid black;
    
}
section#team{
    flex: 0 0 300px;

}
section#period{
    flex: 1 1 400px;
    
}
section#period h2{
    padding-left: 10%;
}
section#timer{
    flex: 0 1 250px;
    text-align: center;
}
